html,
body,
#app {
  height: 100%;
}

body {
  font-weight: 300;
  background-color: #272727;
}

.time {
  font-size: 72px;
  font-weight: 400;
  color: dimgray;
  display: block;
  width: 100%;
  text-align: center;
}

.timeType {
  display: block;
  font-size: 24px;
  color: #2ba0a0;
  font-weight: 300;
  width: 100%;
  text-align: center;
}
