html,
body,
#root,
.app {
  min-height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #272727 !important;
}

.time {
  font-size: 72px;
  font-weight: 400;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
}

.timeType {
  display: block;
  font-size: 24px;
  color: #2ba0a0;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.btn {
  border: 0;
  background: #2ba0a0 !important;
  color: #fff !important;
  padding: 10px 0;
  width: 100%;
  max-width: 110px;
  max-height: 40px;
  margin: 15px;
  font-weight: 100;
  font-size: 14px;
  transition: 0.3s;
}

.btn:hover {
  background: #148080 !important;
}

.btn:active,
.btn:focus {
  outline: 0;
}

.btnIcon {
  border: 0;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  width: 60px;
  height: 60px;
  background-size: 50px;
  transition: opacity 0.3s;
}

.btnIcon:hover {
  opacity: 0.8;
}

.btnIcon:active,
.btnIcon:focus {
  outline: 0;
  opacity: 0.4;
}

.play {
  background-image: url("img/play-button.png");
}

.stop {
  background-image: url("img/pause-button.png");
}

.display {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 800px;
}

@media (min-width: 500px) {
  .pomodoro {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

/* Bottom section
------------------------------- */
.bottomBar {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.controls {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 100%;
  background: #2ba0a0;
}

.controlsLink {
  line-height: 40px;
}
.controlsLink a {
  color: #fff;
  text-decoration: none;
  margin-left: 20px;
  font-size: 14px;
}

.controlsLink a:hover,
.controlsLink a:focus {
  text-decoration: underline;
}

.settingsShadow {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: grid;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
}

.settings {
  padding: 20px;
  background: #ecf0f1;
  border-radius: 2px;
  display: inline-block;
  min-height: 600px;
  margin: 1rem;
  position: relative;
  min-width: 600px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  justify-self: center;
}
