html,
body,
#root,
.app {
  height: 100%;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  background-color: #272727;
}

.time {
  font-size: 72px;
  font-weight: 400;
  color: #fff;
  display: block;
  width: 100%;
  text-align: center;
}

.timeType {
  display: block;
  font-size: 24px;
  color: #2ba0a0;
  font-weight: 300;
  width: 100%;
  text-align: center;
}

.btn {
  border: 0;
  background: #2ba0a0;
  color: #fff;
  padding: 10px 0;
  width: 100%;
  max-width: 110px;
  max-height: 40px;
  margin: 15px;
  font-weight: 100;
  font-size: 14px;
  transition: 0.3s;
}

.btn:hover {
  background: #148080;
}

.btn:active,
.btn:focus {
  outline: 0;
  background: #50b9b9;
}

.display {
  margin-bottom: 20px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  max-width: 800px;
  min-height: 150px;
  margin-bottom: 20px;
}

@media (min-width: 500px) {
  .pomodoro {
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}
